@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>
<p>
    <a asp-action="CreateUser">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FullName
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

